.actionsScope .actionsCardsGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  align-items: stretch;
}

.actionsScope .actionsCardsGrid > * {
  height: 100%;
}

.actionsScope .actionsImportantBlock {
  margin-top: 16px;
}

.actionsScope .actionsDirectionsHead {
  margin-top: 160px;
}

@media (max-width: 980px) {
  .actionsScope .actionsCardsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 520px) {
  .actionsScope .actionsCardsGrid {
    grid-template-columns: 1fr;
  }

  .actionsScope .actionsDirectionsHead {
    margin-top: 130px;
  }
}
